<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module name="yo-list" attributes="">
    <link rel="stylesheet" href="yo-list.css">
    <template>
    <ul>
      <template id="greeting" is="dom-repeat" items="{{items}}">
        <li>{{ item }}</li>
      </template>
    </ul>
  </template>
</dom-module>
  <script>
    (function () {
      Polymer({
        is: "yo-list",
        properties: {
          items: {
            type: Array,
            notify: true,
          }
        },
        ready: function () {
          this.items = [
            'HTML5 Boilerplate',
            'Web Component Polyfills',
            'Core Elements',
            'Paper Elements',
            'Polymer'
          ];
        }
      });
    })();
  </script>
